<h4>Authors</h4>

<table class="table table-striped">
	<tr>
		<th>Authors Name</th>
		<th>Actions</th>
	</tr>
	<% @authors.each do |author| %>
		<tr>
			<td><%= author.first_name + ' ' + author.last_name %></td>
			<td><%= link_to 'Edit', edit_author_path(author.id), class: 'btn btn-primary' %>  <%= link_to 'Delete', author_path(author.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
		</tr>
	<% end %>
</table>