<h4>Publishers</h4>

<table class="table table-striped">
	<tr>
		<th>Publisher Name</th>
		<th>Actions</th>
	</tr>
	<% @publishers.each do |publisher| %>
		<tr>
			<td><%= publisher.name %></td>
			<td><%= link_to 'Edit', edit_publisher_path(publisher.id), class: 'btn btn-primary' %> <%= link_to 'Delete', publisher_path(publisher.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
		</tr>
	<% end %>
</table>